<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <title>SimonTheGame</title>
  </head>
  <body>
    <div class="" id="app">
      <h2 class="title">{{title}}</h2>
      <div class="difficulty">
        <input type="radio" id="one" value="1500" v-model="picked" />
        <label for="one">Лёгкий</label>
        <br />
        <input type="radio" id="two" value="1000" v-model="picked" />
        <label for="two">Средний</label>
        <br />
        <input type="radio" id="three" value="400" v-model="picked" />
        <label for="three">Сложный</label>
        <br />
      </div>
      <h3 class="round">Раунд {{round}}</h3>
      <div class="game">
        <button id="game__start" class="game__start" v-on:click="startGame">
          start
        </button>
        <div class="game-field">
          <button
            class="game__btn game__btn_blue"
            value="1"
            :class="{btn_act: (currentLightBtn === 1)}"
            v-on:click="checkBtn(1), sound1()"
          ></button>
          <button
            class="game__btn game__btn_red"
            value="2"
            :class="{btn_act: (currentLightBtn === 2)}"
            v-on:click="checkBtn(2), sound2()"
          ></button>
          <div class="game__break"></div>
          <button
            class="game__btn game__btn_yellow"
            value="3"
            :class="{btn_act: (currentLightBtn === 3)}"
            v-on:click="checkBtn(3), sound3()"
          ></button>
          <button
            class="game__btn game__btn_green"
            value="4"
            :class="{btn_act: (currentLightBtn === 4)}"
            v-on:click="checkBtn(4), sound4()"
          ></button>
        </div>
      </div>
    </div>
    <script>
      var startGame = [];
      var j = 1; //first lvl
      var indexStartGame = 0;
      var difficulty;
      var speed;
      var indexCheckGame = 0;
      var clockCheckGame = 1;

      new Vue({
        el: "#app",
        data: {
          title: "Simon The Game",
          currentLightBtn: "",
          round: 1,
          picked: "1500",
        },
        methods: {
          startGame: function (event) {
            difficulty = this.picked;
            document
              .querySelector(".difficulty")
              .classList.add("difficulty_off");
            document
              .querySelector(".game__start")
              .classList.add("difficulty_off");
            indexStartGame = 0;
            clockCheckGame = 1;
            indexCheckGame = 0;

            let btns = document.querySelectorAll(".game__btn");
            if (difficulty === "400") {
              speed = 200;
            } else if (difficulty === "1500" || difficulty === "1000") {
              speed = 400;
            }
            //document.querySelector('.difficulty').className.add('difficulty_off');

            for (let i = 0; i < j; i++) {
              startGame[i] = Math.floor(Math.random() * 4) + 1;
            }
            var intervalId = setInterval(() => {
              if (indexStartGame > j) {
                clearInterval(intervalId);
              } else {
                this.currentLightBtn = startGame[indexStartGame];
                setInterval(() => {
                  this.currentLightBtn = "";
                }, difficulty);
                let audio = document.createElement("audio");
                audio.className = "sound";
                audio.innerHTML = `<source src="sounds/${startGame[indexStartGame]}.mp3" type="audio/mpeg" />`;
                document.body.append(audio);
                document
                  .querySelector(".sound")
                  .setAttribute("autoplay", "true");
                setTimeout(() => {
                  document.querySelector(".sound").remove(audio);
                }, speed);
                indexStartGame++;
              }
            }, difficulty);
          },
          checkBtn: function (x) {
            this.currentLightBtn = x;
            setInterval(() => {
              this.currentLightBtn = "";
            }, difficulty);
            let audio = document.createElement("audio");
            audio.className = "sound";
            audio.innerHTML = `<source src="sounds/${x}.mp3" type="audio/mpeg" />`;
            document.body.append(audio);
            document.querySelector(".sound").setAttribute("autoplay", "true");
            setTimeout(() => {
              document.querySelector(".sound").remove(audio);
            }, speed);

            if (x != startGame[indexCheckGame]) {
              alert("You lose!");
              this.currentLightBtn = "";
              this.round = 1;
              startGame = [];
              j = 1;
              document
                .querySelector(".difficulty")
                .classList.remove("difficulty_off");
              document
                .querySelector(".game__start")
                .classList.remove("difficulty_off");
            } else {
              if (clockCheckGame == startGame.length) {
                this.round += 1;
                startGame = [];
                j++;
                setTimeout(() => {
                  let event = new Event("click");
                  game__start.dispatchEvent(event);
                }, 500);
              } else {
                indexCheckGame++;
                clockCheckGame++;
              }
            }
          },
        },
      });
    </script>
  </body>
</html>
